.fonctionnement {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 30px;

    &__titre {
        width:250px;
    }

    &__detail {
        width:250px;
    }
}

.bloc-restaurant {
    &__titre {
        text-align: center;
    }

    &__preview {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
}

.card-restaurant {
    width:40%;


    &__legende {
        &__like {
            margin-left: 35%;

            &--onclick {
                margin-left: 35%;
            }
        }
    }
}

.nouveau {
    margin-left: 30%;
    margin-top: 1%;
}