@charset "UTF-8";
.localisation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  background-color: #eaeaea;
}

.localisation__logo {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-right: 20px;
}

.introduction {
  -webkit-animation: fadein 2s;
          animation: fadein 2s;
  margin-left: 50px;
  margin-right: 50px;
  text-align: center;
}

.boutton-defaut {
  border-radius: 25px 25px 25px 25px;
  background: -webkit-gradient(linear, right bottom, left top, from(#9356DC), to(#FF79DA));
  background: linear-gradient(to top left, #9356DC, #FF79DA);
  color: white;
  padding: 15px;
  border: none;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.boutton-defaut:hover {
  -webkit-transform: scale(1.15);
          transform: scale(1.15);
}

.fonctionnement {
  margin-left: 20px;
  margin-right: 20px;
}

.fonctionnement__detail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #F6F6F6;
  border-radius: 20px 20px 20px 20px;
  -webkit-box-shadow: 0px 5px 10px 1px grey;
          box-shadow: 0px 5px 10px 1px grey;
  margin-bottom: 20px;
}

.fonctionnement__detail:hover {
  background-color: #e4d5f6;
}

.fonctionnement__detail:hover .fonctionnement__detail__logo {
  color: #9356DC;
}

.fonctionnement__detail__id {
  background-color: #9356DC;
  color: white;
  padding: 2px;
  border-radius: 50%;
  margin-left: -8px;
  margin-right: 20px;
  padding-left: 5px;
  padding-right: 5px;
}

.fonctionnement__detail__logo {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-right: 20px;
}

.bloc-restaurant {
  background-color: #F6F6F6;
  margin-top: 50px;
  padding-bottom: 30px;
}

.bloc-restaurant__titre {
  padding-top: 60px;
  margin-left: 20px;
}

.card-restaurant {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 90%;
  background-color: white;
  border-radius: 20px;
  -webkit-box-shadow: 0px 0px 10px 1px #F6F6F6;
          box-shadow: 0px 0px 10px 1px #F6F6F6;
  margin-left: auto;
  margin-right: auto;
}

.card-restaurant__legende {
  margin-left: 10px;
  margin-right: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card-restaurant__legende__detail__nom {
  margin-top: 15px;
  margin-bottom: 6px;
}

.card-restaurant__legende__detail__lieu {
  margin-top: 5px;
  margin-bottom: 20px;
}

.nouveau {
  background-color: #99E2D0;
  color: #1b6150;
  font-weight: bolder;
  padding: 8px;
  position: absolute;
  margin-left: 65%;
  margin-top: 3%;
}

.card-restaurant img {
  border-radius: 20px 20px 0 0;
  width: 100%;
  height: 160px;
  -o-object-fit: cover;
     object-fit: cover;
}

/* Remplissage des coeurs */
@-webkit-keyframes zoom_heart {
  0% {
    -webkit-transform: scale(0.1);
            transform: scale(0.1);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes zoom_heart {
  0% {
    -webkit-transform: scale(0.1);
            transform: scale(0.1);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.card-restaurant__legende__like {
  position: absolute;
  margin: 75%;
  font-size: 2rem;
}

.card-restaurant__legende__like--onclick {
  opacity: 0;
  position: absolute;
  margin: 75%;
  font-size: 2rem;
}

.card-restaurant__legende__like--onclick:hover {
  opacity: 1;
  background: -webkit-gradient(linear, right top, left bottom, from(#9356DC), to(#FF79DA));
  background: linear-gradient(to bottom left, #9356DC, #FF79DA);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-animation-name: zoom_heart;
          animation-name: zoom_heart;
  -webkit-animation-duration: 1.2s;
          animation-duration: 1.2s;
}

/* loading spinner */
@-webkit-keyframes custom-loading {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes custom-loading {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes loader {
  100% {
    opacity: 0;
    z-index: -10;
    /*à la fin de l'animation, la div passe tout en dessous (non visible)*/
  }
}

@keyframes loader {
  100% {
    opacity: 0;
    z-index: -10;
    /*à la fin de l'animation, la div passe tout en dessous (non visible)*/
  }
}

.loading-spinner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: fixed;
  /*prend toute la page*/
  width: 100%;
  height: 100%;
  z-index: 3;
  background-color: rgba(255, 255, 255, 0.9);
  -webkit-animation-name: loader;
          animation-name: loader;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  /*garde les dernières règles css du keyframe, donc cache l'animation*/
}

.loading-spinner__animation {
  content: "";
  border: 10px solid grey;
  border-top: 10px solid #99E2D0;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin: auto;
  -webkit-animation-name: custom-loading;
          animation-name: custom-loading;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: 3;
          animation-iteration-count: 3;
}
