.restaurant {
  margin-top: auto;
  z-index: 0;
  border-radius: unset;
}

.restaurant__header {
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  margin-bottom: 3%;
}

.restaurant__header__nom {
  margin-right: 30px;
}

.restaurant__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.restaurant__menu__titre {
  width: 100%;
}

.restaurant__menu__plat {
  width: auto;
}
